.nav {
  width: 30vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  color: white;
}

.list {
    margin: 1rem .5rem;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: row;
}